
  <div class="admin-page">
    <p-card [header]="'Dashboard'" subheader="Latest Updates"> 
  <div class="grid">
    <div class="col-3">
        <p-card styleClass="d-products">
            <div class="d-item">
                <i class="pi pi-briefcase "></i>
                <span class="number">25</span>
                
              </div>
              <span class="name">Products</span>
            
              
           
        </p-card>
    </div>
    <div class="col-3">
        <p-card styleClass="d-orders">
            <div class="d-item">
                <i class="pi pi-shopping-cart"></i>
                <span class="number">25</span>
                
              </div>
              <span class="name">Orders</span>
           
        </p-card>
    </div>
    <div class="col-3">
        <p-card styleClass="d-users">
            <div class="d-item">
                <i class="pi pi-users"></i>
                <span class="number">25</span>
                
              </div>
              <span class="name">Users</span>
           
        </p-card>
    </div>
    <div class="col-3">
        <p-card styleClass="d-total">
            <div class="d-item">
                <i class="pi pi-wallet "></i>
                <span class="number">{{'1800' | currency}}</span>
                
              </div>
              <span class="name">Total Sales</span>
           
        </p-card>
    </div>
  </div>
</p-card>
</div>
