<header>
    <div class="grid">
        <div class="col-3">
          <div class="logo">
              <img src="assets/images/shopone.png" alt="logo">
          </div>
        </div>

        <div class="col-3   col-offset-1 search" >
         <jontyjr-product-search></jontyjr-product-search>

        </div>

        <div class="col-3 col-offset-1 navigation">
              <ngshop-nav></ngshop-nav>
        </div>

        <div class="col-1 tools">
            <i class="pi pi-user p-text-secondary "  style="font-size: 1.1rem"></i>
            <jontyjr-shop-icon></jontyjr-shop-icon>
        </div>
    </div>
</header>

