header{
    margin-bottom: 25px;
   .logo{
       img{
           width: 114px;
           background-color: var(--surface-100);
       }
   }


   .tools{
       padding-top: 26px;
       .pi{
        
           margin-right: 5px;
       }
   }


   .search{
       padding-top: 20px;
   }

   .navigation{
    padding-top: 25px;
   }
}